################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/JAMaynor.GuardClauses/.vs
/src/JAMaynor.GuardClauses/bin
/src/JAMaynor.GuardClauses/obj
/test/JAMaynor.GuardClauses.Tests/bin
/test/JAMaynor.GuardClauses.Tests/obj
